[submodule "dependencies/HADatasets"]
	path = dependencies/HADatasets
	url = https://github.com/biaslab/HADatasets.git
[submodule "dependencies/VirtualHearingAid"]
	path = dependencies/VirtualHearingAid
	url = https://github.com/biaslab/VirtualHearingAid.jl.git
[submodule "python_modules/DNSMOS"]
	path = python_modules/DNSMOS
	url = https://github.com/microsoft/DNS-Challenge.git
